@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #0a0a0a;
    --background: #f3f4f6;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

button:hover {
  cursor: pointer;
}

@layer components {
  .input-label-base {
    @apply font-semibold text-sm;
  }

  .input-base {
    @apply p-2 border border-gray-400 rounded focus:outline-none text-xs;
  }

  .table-head-base {
    @apply px-4 py-3 text-left text-sm font-semibold text-gray-600 uppercase;
  }

  .table-data-base {
    @apply px-4 py-3 text-sm font-medium text-gray-900 text-start;
  }

  .pagination-tile-base {
    @apply w-8 h-8 text-center border border-gray-400 rounded flex items-center justify-center;
  }
}
